[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
pillow = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
black = "*"
django-seed = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
